xpinmame.obj/
xpinmame.vid_lisy
src/lisy/lisyversion.h
a.out
*.o
src/lisy/testprogs/get_dip_from_S1/get_dip_from_S1
src/lisy/control/lisy1_control
src/lisy/control/lisy80_control
src/lisy/control/lisy35_control
src/lisy/control/lisy_api_control
src/lisy/control/picpgm_control
src/lisy/control/simple_flasher
src/lisy/mpfserver/mpfserver
